<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
    </div>
    
    <ul id="home" title="{SITENAME}" selected="true">
        <li><a href="#forums">Forums</a></li>
        <li><a href="#pms">Private Messages</a></li>
        <li><a href="search.php?search_id=active_topics" target="_self">Active Topics</a></li>
        <li><a href="#about">About</a></li>
        <li>
        <!-- IF S_USER_LOGGED_IN -->
        	<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" target="_self">You are logged in</a>
        <!-- ELSE -->
   			<a href="#loginbox">Login</a>
		<!-- ENDIF -->
		</li>
    </ul>
    
    
    <ul id="pms" title="Private Messages">
        <li>Coming soon!</li>
    </ul>
    
    <ul id="forums" title="Forums">
    	<!-- INCLUDE forum_list.html -->
    </ul>
    

    <ul id="about" title="About">
        <li>Coming soon!</li>
    </ul>
    
    <div id="loginbox" class="panel">
    	<!-- INCLUDE login_body.html -->
    </div>

<!-- INCLUDE overall_footer.html -->
