<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
    </div>
    
    <ul id="home" title="{SITENAME}" selected="true">
        <li><a href="#forums">{L_FORUMS}</a></li>
        <!-- IF S_USER_LOGGED_IN --><li><a href="{U_PRIVATEMSGS}" target="_self">{PRIVATE_MESSAGE_INFO}</a></li> <!-- ENDIF -->
        <li><a href="{U_SEARCH_ACTIVE_TOPICS}" target="_self">{L_SEARCH_ACTIVE_TOPICS}</a></li>
        <li><a href="#about">About</a></li>
        <li>
        	<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" target="_self">{L_LOGIN_LOGOUT}</a>
		</li>
    </ul>
    
    <ul id="forums" title="{L_FORUMS}">
    	<!-- INCLUDE forum_list_initial.html -->
    </ul>
    

    <ul id="about" title="About">
        <li>Coming soon!</li>
    </ul>

<!-- INCLUDE overall_footer.html -->
