<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a id="backButton" class="button" href="#"></a>
    </div>

		<form selected="true" title="Login" class="panel" method="post" action="{S_LOGIN_ACTION}" target="_self">
			<fieldset>
				<div class="row">
					<label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label>
					<input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" />
				</div>
		
				<div class="row">
					<label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}:</label>
					<input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" /></dd>
				</div>
				
				{S_HIDDEN_FIELDS}
				
				<input type="hidden" name="redirect" value="./index.php" />

				<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button1" />

			</fieldset>
		</form>



<!-- INCLUDE overall_footer.html -->

