<!-- INCLUDE overall_header.html -->
    
    <div class="toolbar">
        <h1 id="pageTitle">Inbox</h1>
        <a class="button leftButton" href="." target="_self">Index</a>
        <a class="button blueButton" title="{L_UCP_PM_COMPOSE}" href="{U_POST_NEW_TOPIC}" target="_self">{L_UCP_PM_COMPOSE}</a>
    </div>
	
	<ul selected="true">
	
		<!-- BEGIN messagerow -->
			<li>
				<a href="{messagerow.U_VIEW_PM}" class="topictitle" target="_self">{messagerow.SUBJECT}</a>
			</li>
		<!-- BEGINELSE -->
			<li>No messages</li>
		<!-- END messagerow -->
	
	</ul>
	
<!-- INCLUDE overall_footer.html -->