<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle">{SUBJECT}</h1>
        <a class="button leftButton" href="{U_CURRENT_FOLDER}" target="_self">{CUR_FOLDER_NAME}</a>
        <a class="button blueButton" title="{L_POST_REPLY_PM}" href="{U_POST_REPLY_PM}" target="_self">{L_POST_REPLY_PM}</a>
    </div>

	<div id="message" selected="true">
		
		<div class="content">
			{L_PM_FROM} <strong>{MESSAGE_AUTHOR_FULL}</strong> {L_SENT_AT} {SENT_DATE}
			{MESSAGE}
		</div>

	</div>

<!-- INCLUDE overall_footer.html -->