<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle">{FORUM_NAME}</h1>
        <a class="button leftButton" href="." target="_self">Index</a>
        <a class="button blueButton" href="{U_POST_NEW_TOPIC}" target="_self">New</a>
    </div>
    
<ul selected="true">

<!-- IF S_HAS_SUBFORUM -->
	<li class="group">Sub forums</li>
	<!-- INCLUDE forum_list.html -->
<!-- ENDIF -->


<li class="group">Topics</li>
<!-- BEGIN topicrow -->
	<!-- IF not topicrow.S_POST_ANNOUNCE and not topicrow.S_POST_STICKY -->
		<li>
			<a href="{topicrow.U_VIEW_TOPIC}" target="_self">
				{topicrow.TOPIC_TITLE}
			</a>
		</li>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->

	<!-- ENDIF -->
<!-- END topicrow -->
</ul>

<!-- INCLUDE overall_footer.html -->
