<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle">{PAGE_TITLE}</h1>
        <a class="button leftButton" href="." target="_self">{L_INDEX}</a>
    </div>
    
    <ul selected="true">
    	
    	<li>
    		{TOTAL_REGISTERED_USERS_ONLINE}
    	</li>
    	
    	<li>
    		{TOTAL_GUEST_USERS_ONLINE}
    	</li>
    	
    	
    	<li class="group">&nbsp;</li>
    	
		<!-- BEGIN user_row -->
			<li>{user_row.USERNAME_FULL}</li>
		<!-- END user_row -->
    </ul>


<!-- INCLUDE overall_footer.html -->
