blockquote {
	border: 1px solid #DBDBCE;
	background: #EBEBEB;
	padding: 4px;
}

.topicicon {
	float: left;
	border: 0px;
	margin-right: 5px;
	margin-top: 4px;
}

.attachmentbox {
	border: 1px solid #999;
	margin: 5px 10px;
	padding: 2px;
}

#thread {
	padding: 4px 0px 8px 0px;
}

.post {
	padding: 2px;
}

.postbody {
	clear: both;
	margin-bottom: 6px;
}

.date {
	font-size: 12px;
	padding-right: 10px;
}

.topiclink {

}

.topicunread {
	float: left;
	padding: 8px 5px 2px 10px;
	background: transparent none repeat scroll 0 0;
	
}

.icon {
    padding-left: 44px;
    background-position: 8px center;
}

.postbuttons {
	padding: 2px;
	border: 1px solid #666;
	color: #333;
	text-decoration: none;
	margin-bottom: 2px;
	margin-right: 4px;
}

cite {
	display: block;
}

#pagination a {
	padding: 2px;
	border: 1px solid #666;	
	color: #333;
	text-decoration: none;
}

textarea {
	font-size: 14px;
	margin-right: 6px;
	width: 90%;
}


ul.post-icons { clear: both; padding: 0px; }
ul.post-icons li { list-style: none; float: left; }
ul.post-icons li a { display: block; }


li.quote-icon, li.quote-icon a	{ width: {IMG_ICON_POST_QUOTE_WIDTH}px; height: {IMG_ICON_POST_QUOTE_HEIGHT}px; }
li.edit-icon, li.edit-icon a	{ width: {IMG_ICON_POST_EDIT_WIDTH}px; height: {IMG_ICON_POST_EDIT_HEIGHT}px; }
li.delete-icon, li.delete-icon a	{ width: {IMG_ICON_POST_DELETE_WIDTH}px; height: {IMG_ICON_POST_DELETE_HEIGHT}px; }
li.quote-icon	{ background: url("{IMG_ICON_POST_QUOTE_SRC}"); }
li.edit-icon	{ background: url("{IMG_ICON_POST_EDIT_SRC}"); }
li.delete-icon	{ background: url("{IMG_ICON_POST_DELETE_SRC}"); }