<form action="{S_LOGIN_ACTION}" method="post" id="login">
		
	<fieldset <!-- IF not S_CONFIRM_CODE -->class="fields1"<!-- ELSE -->class="fields2"<!-- ENDIF -->>
		<label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label>
		<input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" />
		
		<label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}:</label>
		<input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" /></dd>
		{S_HIDDEN_FIELDS}
		
		<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button1" />
	
		</fieldset>
</form>