<!-- INCLUDE overall_header.html -->

	<script>
		function toggleCheckbox(checkbox) {
			if(checkbox.checked == false) {
				checkbox.checked = true;
			} else {
				checkbox.checked = false;
			}
		}
	</script>

    <div class="toolbar">
        <h1 id="pageTitle"></h1>
        <a class="button leftButton" href="." target="_self">{L_INDEX}</a>
    </div>

		<form selected="true" title="Login" class="panel" method="post" action="{S_LOGIN_ACTION}" target="_self">
			<fieldset>
				<div class="row">
					<label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label>
					<input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" />
				</div>
		
				<div class="row">
					<label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}:</label>
					<input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" />
				</div>
				
				<div class="row">
					<label>{L_LOG_ME_IN}</label>
					<div class="toggle" onclick="toggleCheckbox(autologin)" toggled="true">
						<span class="thumb"></span>
						<span class="toggleOn">ON</span>
						<span class="toggleOff">OFF</span>
					</div>
				</div>
				
				<div class="row">
					<label>{L_HIDE_ME}</label>
					<div class="toggle" onclick="toggleCheckbox(viewonline)" toggled="false">
						<span class="thumb"></span>
						<span class="toggleOn">ON</span>
						<span class="toggleOff">OFF</span>
					</div>
				</div>
				
				{S_HIDDEN_FIELDS}
				<input type="hidden" name="redirect" value="./index.php" />
				
				<!-- Hidden checkbox that holds the state of the autologin thumb slider -->
				<div style="display: none">
					<input type="checkbox" name="autologin" id="autologin" CHECKED/>
					<input type="checkbox" name="viewonline" id="viewonline" />
				</div>
				

			</fieldset>
			
			<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" />
							
		</form>



<!-- INCLUDE overall_footer.html -->

