<!-- INCLUDE overall_header.html -->

    <div class="toolbar">
        <h1 id="pageTitle">{TOPIC_TITLE}</h1>
        <a class="button leftButton" href="{U_VIEW_FORUM}" target="_self">{FORUM_NAME}</a>
        <a class="button blueButton" href="{U_POST_REPLY_TOPIC}" target="_self">{L_POST_REPLY}</a>
    </div>

<div id="thread" selected="true">

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div id="pagination">
			{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span>
				<!-- ELSE -->
				&bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	
	<hr />
	
	<!-- BEGIN postrow -->
		<!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
		<div class="post <!-- IF postrow.S_UNREAD_POST --> unreadpost<!-- ENDIF -->">
			<a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a> {L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {postrow.POST_DATE}
			
			<div class="postbody">{postrow.MESSAGE}</div>

			<ul class="post-icons">
			<!-- IF postrow.U_EDIT -->
				<li class="edit-icon"><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}"></a></li>
			<!-- ENDIF -->
			
			<!-- IF postrow.U_DELETE -->
				<li class="delete-icon"><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}"></a></li>
			<!-- ENDIF -->
			
			<!-- IF postrow.U_QUOTE -->
				<li class="quote-icon"><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"></a></li>
			<!-- ENDIF -->
			</ul><br />

		
			
			<!-- IF postrow.S_HAS_ATTACHMENTS -->
				<div class="attachmentbox">
					<strong>{L_ATTACHMENTS}</strong><br />
					<!-- BEGIN attachment -->
						{postrow.attachment.DISPLAY_ATTACHMENT}<br />
					<!-- END attachment -->
				</div>
			<!-- ENDIF -->
		</div>

		<hr />
	<!-- END postrow -->


	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div id="pagination">
			{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span>
				<!-- ELSE -->
				&bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->

</div>

<!-- INCLUDE overall_footer.html -->